@import "../../../assets/css/varibales.scss";

.section-about {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 204px 0px 120px;
  background-position-y: -200px;

  .about-left-col-content {
    margin-bottom: 32px;

    .about-section-title h1 {
      color: $--navy-9;
      font-family: Hiragino Kaku Gothic ProN;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: 1.6px;
      margin-bottom: 32px;
    }

    .about-section-desc p {
      color: $--navy-9;
      font-feature-settings: "palt"on;
      font-family: Hiragino Kaku Gothic ProN;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.7px;
    }

    .about-idenbrid-button a{
      color: $--navy-9;
      font-family: Brandon Grotesque;
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: 24px;
      letter-spacing: 0.8px;
      background-color: transparent;
      border: none;
      padding: 0px;
      margin-top: 32px;
      display: flex;
      align-items: center;
    }:hover{
      text-decoration: none;
    }
    .about-idenbrid-button a:hover .arrowright-svg svg rect{
      fill: $--yellow-yellow-4;
      transition: 0.5s;
    } 
    .arrowright-svg {
      margin-left: -8px;
      z-index: -1;
      position: relative;
    }

    .about-idenbrid-button button {
      img {
        margin-left: -7px;
        position: relative;
        z-index: -1;
      }
    }
  }

  .about-right-col-content {
    img {
      margin: 0px auto;
      display: block;
    }
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .section-about{
    padding: 129px 0px 120px;
  }
}
@media only screen and (max-width: 992px) {
  .about-right-col-content {
    margin-bottom: 34px;
    text-align: center;
  }
  .aboutidenbrid-icon{
    display: inline-block;
  }
  .section-about{
    padding: 120px 0px 120px;
}

}
@media only screen and (max-width: 768px) {
  .section-about {
    padding: 64px 0px;
    background-position-y: 300px;

    .about-left-col-content {
      padding: 0px 9px;

      .about-section-title h1 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
      }

      .about-section-desc p {
        line-height: 24.5px;
      }
    }

    .about-right-col-content {
      img {
        width: 102px;
        height: 119px;
        margin: 0px auto 32px auto;
        display: block;
      }
    }
  }
}