@import "../../assets/css/varibales.scss";
.section-careerfaq-page {
  z-index: 2;
  margin-bottom: 120px;
  .career-faq-bg {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: url(/assets/images/faqs-bg.png);
    background-size: 100%;
    background-repeat: repeat;
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
  }
  .faq-form-content {
    background: #fff;
    width: 100%;
    max-width: 1040px;
    border-radius: 64px;
    margin: 0px auto;
    padding: 80px;
    .accordion-item .accordion-header {
      margin-bottom: 0px;
    }
    .accordion-item .accordion-header button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      background: transparent;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      width: 100%;
      text-align: start;
      padding: 16px 16px 16px 8px;
      color: $--navy-navy-8;
      font-family: Hiragino Kaku Gothic ProN;
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 31.5px;
      letter-spacing: 1.05px;
    }
    .accordion-button:not(.collapsed):after {
      content: '';
    background-image:url(/assets/images/icon-remove.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    }
    .accordion-button.collapsed:after{
         content: '';
    background-image: url(/assets/images/icon-add.png);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
      background-position: center;
    }
  }
  .accordion-body {
    padding: 40px;
    .requirment-block-content {
        display: flex;
      .requirment-block-title{
          width: 100%;
        max-width: 109px;
        margin-right: 40px;
      }
      .requirment-block-title h6 {
        color: $--neutral-neutral-8;
        font-feature-settings: "palt" on;
        font-family: Hiragino Kaku Gothic ProN;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.8px;
      }
      .requirment-block-desc p {
        color:$--neutral-neutral-8;
        font-family: Hiragino Kaku Gothic ProN;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height:25.2px;
        margin-bottom: 0px;
      }
    }
    .faq-apply-button button {
      display: flex;
      width: 100%;
      max-width: 320px;
      height: 56px;
      padding: 0px 32px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 100px;
      background: linear-gradient(98deg, #102f9e 2.96%, #4800a5 105.92%);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
      color: $--white;
      font-feature-settings: "palt" on;
      font-family: Hiragino Kaku Gothic StdN;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.7px;
      margin: 40px auto 0px;
      border: none;
    }
  }
  .bordr-bottom{
    border-bottom: 1px solid #E5E5E5;
    margin-top: 24px;
  }
  .margin-btm{
    margin-bottom: 24px !important;
  }
}
@media only screen and (max-width: 768px) { 
.section-careerfaq-page {
  z-index: 2;
  margin-bottom: 120px;
  .career-faq-bg {

  }
  .faq-form-content {
   border-radius: 24px;
      margin: 0px auto;
      padding: 32px 0px;
      box-shadow: 0px 8px 40px 0px rgba(20, 20, 133, 0.08);
    .accordion-item .accordion-header {
      margin-bottom: 0px;
    }
    .accordion-item .accordion-header button {
     padding: 16px 24px;
     font-size: 18px;
     line-height: 27px;
     letter-spacing: 0.9px;
    }
  }
  .accordion-body {
      padding: 24px;
    .requirment-block-content {
        flex-direction: column;
      .requirment-block-title{
          width: 100%;
        max-width: 109px;
        margin-right: 40px;
      }
    }
    .faq-apply-button button {
      display: flex;
      width: 100%;
      max-width: 320px;
      height: 56px;
      padding: 0px 32px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 100px;
      background: linear-gradient(98deg, #102f9e 2.96%, #4800a5 105.92%);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
      color: $--white;
      font-family: Hiragino Kaku Gothic StdN;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.7px;
      margin: 40px auto 0px;
      border: 0px;
    }
  }
  .bordr-bottom{
    border-bottom: 1px solid #E5E5E5;
    margin-top: 24px;
  }
  .margin-btm{
    margin-bottom: 24px !important;
  }
}


}
