@import "../../assets/css/varibales.scss";


.section-member {
  z-index: 2;
  .member-bg-img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: url("/assets/images/member-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .section-member-content {
    border-radius: 64px;
    background: $--white;
    padding: 120px 0;

    .member-col {
      margin-bottom: 40px;

      .member-card {
        border: 0px;
        border-radius: 0px;

        .member-img {
          width: 100%;
          height: auto;
        }

        .member-card-body {
          padding: 0px;

          .member-name {
            color: $--navy-9;
            font-family: Brandon Grotesque;
            font-size: 24px;
            font-style: normal;
            font-weight: 450;
            line-height: 30px;
            letter-spacing: 1.2px;
            margin-bottom: 4px;
          }

          .member-designation {
            color: $--navy-9;
            font-family: Brandon Grotesque light;
            font-size: 16px;
            font-style: normal;
            font-weight: 390;
            line-height: 20px;
            letter-spacing: 0.8px;
          }
        }
      }
    }

    .member-col a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width:768px) {
  .section-member {
    position: relative;
    z-index: 2;

    .member-bg-img {
      top: 0px;
      height: 100%;
    }

    .section-member-content {
      border-radius: 24px;
      padding: 32px 24px;

      .member-col {
        .member-card {
          border: 0px;
          border-radius: 0px;

          .member-img {
            width: 100%;
            height: auto;
          }

          .member-card-body {
            text-align: center;
            padding: 0px;

          }
        }
      }
    }
  }
}