
$--Navy-0:#F0F1FF;
$--navy-9:#141485;
$--white:#FFFFFF;
$--black:#000;
$--navy-2: #BABFFF;
$--neutral-8:#404040;
$--yellow-yellow-3: #FFE066;
$--yellow-yellow-4:#FFD43B;
$--gray-9:#F0F0F0;
$--blue-passion-sea:#0015E2;
$--baby-blue-moncler:#A9D1D3;
$--red:#ff0000;
$--yellow-yellow-1:#FFF3BF;
$--royalty-calls:#3F08A4;
$--envelope-white:#e5e5e5;
$--gray-gray-1:#F1F3F5;
$--gray-gray-4:#CED4DA;
$--gray-gray-8:#343A40;
$--Navy-6: #3945D8;
$--navy-navy-8:#1723A9;
$--neutral-neutral-8:#404040;